#container{
    width:500px;
    position:relative;
    top:50px;
    margin: 0 auto;
    display: block;
    border:1px dashed black;
    text-align: center;
    padding:10px;
}
#chat-container{
        width:500px;
        position:relative;
        top:50px;
        margin: 0 auto;
        display: block;
        border:1px solid black;
        text-align: center;
}
.list-none{
    padding:0px;
    list-style-type: none !important;
}
.li-color{
    height:40px;
    padding:10px;
    color:white;
    text-align: right;
    border-bottom: 2px solid whitesmoke;
    background-color:lightseagreen;
}
li:nth-child(odd) { 
    background: lightsteelblue; 
    text-align: left;
    color:black;
    }